body {
	margin-top: 60px;
	margin-right: 0px;
	font-family: "Open Sans"; 
	background-color: rgb(235,232,232);
	font-size: 25px;
	font-weight: bold;
}

li {
	float: right;
}

a {
	display: block;
	width: 200px;
	color: rgb(0,0,0);
	text-decoration: none;
}

a:hover {
	color: rgb(203,111,111);
	text-decoration: none;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 60px;
	padding: 0px;
}

#nav_bar_line {
	background: rgb(0,0,0);
	height: 8px;
	width: 99%;
	margin-top: 20px;
}

#logo {
	font-size:30px;
	position: absolute;
	left: 38px;
}

.card { 
	background-color: rgb(188,178,178);
	height: 45%;
	width: 40%;
	position: absolute;
	box-shadow: 10px 10px 5px #888888;
}

.line_separator{
	height:2px;
	background: rgb(0,0,0);
	border-bottom:1px solid #313030;
	position: relative;
	margin-top: 45px;
	width: 94%;
	margin-left: 15px;
}

img.desaturate {
	filter: grayscale(100%);
}

img {
	max-width: 50%;
	margin-top: 40px;
	margin-left: 250px;
}

#felongeist_1 {
	margin-top:50px;
	margin-left: 100px;
}






