body {
	margin-top: 60px;
	margin-right: 0px;
	font-family: "Open Sans"; 
	background-color: rgb(235,232,232);
	font-size: 25px;
	font-weight: bold;
}

li {
	float: right;
}

a {
	display: block;
	width: 200px;
	color: rgb(0,0,0);
	text-decoration: none;
}

a:hover {
	color: rgb(203,111,111);
	text-decoration: none;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 60px;
	padding: 0px;
}

#nav_bar_line {
	background: rgb(0,0,0);
	height: 8px;
	width: 99%;
	margin-top: 20px;
}

#logo {
	font-size:30px;
	position: absolute;
	left: 38px;
}

.card { 
	background-color: rgb(188,178,178);
	height: 45%;
	width: 40%;
	position: absolute;
	box-shadow: 10px 10px 5px #888888;
}

#felongeist_1 {
	margin-top:20px;
}





